<% layout("/layouts/boilerplate") %>

<body>
  <div class="row mt-3"></div>
  <div class="col-8 offset-2">
  <h3>Create a new listing</h3>
  <br>
  
  <form method="POST" action="/listings">
    <div class="mb-3">
      <label for="title" class="from-label">Title</label>
      <input
        name="listing[title]"
        placeholder="Enter Title"
        type="text"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="from-label">Description</label>
      <textarea
        name="listing[description]"
        placeholder="Enter Description"
        type="text"
        class="form-control"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="image" class="from-label">Image URL</label>
      <input
        name="listing[image][url]"
        placeholder="Enter Image URL"
        type="text"
        class="form-control"
      />
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
      <label for="price" class="from-label">Price per night (in INR)</label>
      <input
        name="listing[price]"
        placeholder="Enter Price per night (in INR)"
        type="number"
        class="form-control"
      />
    </div>

    <div class="mb-3 col-md-8">
      <label for="location" class="from-label">Location</label>
      <input
        name="listing[location]"
        placeholder="Enter Location"
        type="text"
        class="form-control"
      />
    </div>

    </div>
    
    <div class="mb-3">
      <label for="country" class="from-label">Country</label>
      <input
        name="listing[country]"
        placeholder="Enter Country"
        type="text"
        class="form-control"
      />
    </div>
    
    <button type="submit" class="btn btn-dark add-btn mt-3">Create Listing</button>
    
  </form>
  </div>
</div>
</body>
